html {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: Kumbh Sans, sans-serif;
  color: hsl(238, 29%, 16%);
}

.rectangle {
  width: 60vw;
  background-color: white;
  border-radius: 1.5vw;
  display: flex;
  overflow: hidden;
  padding-right: 4vw;
  box-shadow: 0vw 1vw 2.5vw hsl(240, 40%, 44%);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 5vw;
}

.accordion {
  padding-bottom: 5vw;
  padding-right: 2vw;
}

.column1 {
  background: url(images/illustration-woman-online-desktop.svg) -5.6vw 3vw / 32vw no-repeat, url(images/bg-pattern-desktop.svg) -30vw -14vw / 110vh no-repeat;
  padding: 0;
  width: 55%;
}

.column2 {
  margin-left: 2vw;
  width: 45%;
}

.illustration-box {
  position: absolute;
  left: 11.2%;
  top: 44.3%;
}

.accordion-caption {
  background-color: white;
  padding: 0;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color: inherit;
  font-weight: 400;
}

.active, .accordion-caption:active {
  font-weight: 700;
}

.accordion-caption:hover {
  color: hsl(14, 88%, 65%);
}

.panel {
  color: hsl(240, 6%, 50%);
  max-height: 0;
  overflow: hidden;
  font-size: 1rem;
  padding-right: 2vw;
}

.arrow {
  margin: 0.4vw 0 0 5vw;
  position: absolute;
  right: 25vw;
}

.active2, .arrow-active {
  transform: rotate(180deg);
}

hr {
  background-color: hsl(240, 5%, 91%);
  height: 0.01rem;
  border: 0;
  width: 100%;
  margin: 1vw 0;
}

footer {
  color: white;
}